<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.10" targetFramework="net452" />
  <package id="AngleSharp.Io" version="0.3.2" targetFramework="net452" />
  <package id="AngleSharp.Scripting.JavaScript" version="0.5.1" targetFramework="net452" />
  <package id="Jint" version="2.11.58" targetFramework="net452" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="net452" />
</packages>